<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all users</title>
</head>
<body>
<p th:text="'Name: ' + ${user.getName()}"></p>
<p th:text="'Last name: ' + ${user.getLastName()}"></p>
<p th:text="'Age: ' + ${user.getAge()}"></p>
<br/>
<div>
    <form th:method="GET" th:action="@{/{id}/edit(id = ${user.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/{id}(id = ${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
<br/>
<a href="/">Back</a>
</body>
</html>